<div class="home-container">
    <div class="image-home">
        <img src="../../../assets/Medical_Robot_Logo.png" alt="HITIC Logo" class="logo">
    </div>
    <div class="content-container">
      <div class="content">
        <h1>HITIC</h1>
        <h2>Health Information Technology Iniciação Científica</h2>
        <p>
            O <strong>HITIC</strong> (Health Information Technology) é um projeto de pesquisa científica no âmbito da Iniciação Científica, 
            focado no estudo e desenvolvimento de soluções que utilizam <strong>Inteligência Artificial (IA)</strong> na área da saúde.
        </p>
        <p>
            O objetivo é explorar como tecnologias emergentes podem melhorar o atendimento médico, otimizar processos hospitalares 
            e proporcionar uma assistência mais eficaz aos pacientes.
        </p>
      </div>
      <div class="button-container">
        <button class="button" routerLink="/chat">HealthChat ←</button>
        <button class="button">AttendanceChecker ←</button>
        <button class="button">VirtualDiagnosis ←</button>
      </div>
    </div>
  </div>